
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container> .left{
    width: 58%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17A2B8;
}
.container>.left> img{
    width: 250px;
    height: 220px;
}
.container > .left > .para_fl{
    margin: 0;
    padding: 0;
    font-size: xx-large;
    color: white;
    margin-bottom: 18px;
}
.container > .left > .para_sl{
    /* margin: 0;
    padding: 0; */
    font-size: medium;
    color: white;
}

.container > .right{
    width: 42%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container >  .right > form {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container >  .right > form >.inputbox >.field{
    width: 400px;
    height: 50px;
    border: solid rgba(128, 128, 128, 0.711) 3px ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    /* margin-bottom: 30px; */
}

.container > .right >form > .inputbox >.field> img{
    width: 28px;
    height: 28px;
    
}
.container > .right >form > .inputbox >.field> button >img{
    width: 40px;
    height: 40px;
}
.container > .right >form > .inputbox >.field> input{
    width: 500px;
    height: 40px;
    color: rgba(128, 128, 128, 0.711);
    font-size: x-large;
    margin-left: 15px;
}

.container > .right >form > .inputbox >.field> input:focus{
    outline: 0;
}
.container > .right >form > .inputbox >.field>button{
    border: none;
    background: none;
}

.loginbtn{
    width: 400px;
    height: 50px;
    background-color: #17A2B8;
    border: none;
    border-radius: 30px;
    font-size: larger;
    color: white;
}
.registerbtn{
    width: 400px;
    height: 50px;
    background-color: white;
    border-color: #17A2B8;
    border-radius: 30px;
    font-size: larger;
    color:#17A2B8 ;
    border-width: 3px;
}
.btn_container{
    width: 545px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}